
@{
    ViewData["Title"] = "ContactUs";
}
<div class="row">
    <div class="col-md-3">
        @*pannel For Contact Us*@
        <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
            <div class="card-header">راه های تماس</div>
            <div class="card-body">
                <h4 class="card-title">ارتباط با ما</h4>
                <p class="card-text">تلفن : 09361190125</p>
                <p class="card-text">تلفن : 09361190125</p>
                <p class="card-text">آدرس : تهران - فرشته</p>
                <p class="card-text">آدرس : تهران - سعادت آباد </p>
                
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="jumbotron">
        <h1 class="display-3">فروشگاه قدرت و سرعت</h1>
        <p class="lead">این فروشگاه در اردیبهشت  ماه 1400 ساخته شده است و صرفا جهت تمرین عملی میباشد</p>
        <hr class="my-4">
        <p>این سایت با بروز ترین امکانات ساخته شده است که صرفا یک تمرین نبوده و در بازار کار قابل استفاده است</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">جزئیات بیشتر</a>
        </p>
    </div>
    </div>

</div>